{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
        <center>
        <h1>건강검진 센터</h1>
        </center>
        </thead>
        <tbody>
        <center>
        <img src="http://www.dtcityhospital.com/theme/basic/img/center_intro.jpg"
                                            style="width:500px;height:500px;">


        <hr>
        <br>
        <h1>최신 장비</h1>
        <br>
        <img src="http://www.dtcityhospital.com/theme/basic/img/equipment_01.png"
                                            style="width:200px;height:200px;">

        <img src="http://www.dtcityhospital.com/theme/basic/img/equipment_02.png"
                                            style="width:200px;height:200px;">

        <img src="http://www.dtcityhospital.com/theme/basic/img/equipment_04.png"
                                            style="width:200px;height:200px;">

        <br>
        <img src="http://www.dtcityhospital.com/theme/basic/img/equipment_05.png"
                                            style="width:200px;height:200px;">
        <img src="http://www.dtcityhospital.com/theme/basic/img/equipment_06.png"
                                            style="width:200px;height:200px;">
        <img src="http://www.dtcityhospital.com/theme/basic/img/equipment_10.png"
                                            style="width:200px;height:200px;">


            </center>
        </tbody>
    </table>
</div>
{% endblock %}