{% extends "base.html" %}
{% block content %}

<div class="container my-3">
<table class="table">
        <thead>
        <center>
        <h1 >관절 센터</h1>
        </center>
        </thead>
        <tbody>
        <center>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate3_61.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate3_64.jpg"
                                            style="width:300px;height:300px;">
        </a>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate3_31.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate3_34.jpg"
                                            style="width:300px;height:300px;">
        </a>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate3_11.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate3_14.jpg"
                                            style="width:300px;height:300px;">
        </a>

        <br>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate5_11.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate5_14.jpg"
                                            style="width:300px;height:300px;">
        </a>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate5_21.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate5_24.jpg"
                                            style="width:300px;height:300px;">
        </a>

        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate5_31.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate5_34.jpg"
                                            style="width:300px;height:300px;">
        </a>
        <hr>
        <br>
        <h1>담당 의료진</h1>
        <br>
        <table>
            <tr>
                <center>
                <img src="https://cdn-icons.flaticon.com/png/512/1331/premium/1331806.png?token=exp=1655398990~hmac=55f3eaf49880c0b2faa03c442605a391"
                style="width:200px;height:200px;">
                <a style="font-size:20px;"><b>이관절 원장</a>
                </center>
            </tr>
        </table>

        </center>

        </tbody>
    </table>
</div>
{% endblock %}