{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
        <center>
        <h1>척추 센터</h1>
        </center>
        </thead>
        <tbody>
        <center>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate1_21.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate1_24.jpg"
                                            style="width:300px;height:300px;">
        </a>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate1_31.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate1_34.jpg"
                                            style="width:300px;height:300px;">
        </a>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate1_41.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate1_44.jpg"
                                            style="width:300px;height:300px;">
        </a>

        <br>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate2_11.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate2_14.jpg"
                                            style="width:300px;height:300px;">
        </a>
        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate2_21.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate2_24.jpg"
                                            style="width:300px;height:300px;">
        </a>

        <a onclick="location.href='http://www.dtcityhospital.com/theme/basic/img//cate2_31.jpg'">
               <img src="http://www.dtcityhospital.com/theme/basic/img//cate2_34.jpg"
                                            style="width:300px;height:300px;">
        </a>

        <hr>
        <br>
        <h1>담당 의료진</h1>
        <br>
        <table>
            <tr>
                <center>
                <img src="https://cdn-icons.flaticon.com/png/512/1331/premium/1331808.png?token=exp=1655397502~hmac=77d8788ce6eda1d99000ecd7e33f776f"
                style="width:200px;height:200px;">
                <a style="font-size:20px;"><b>김척추 원장</a>
                </center>
            </tr>
        </table>
        </center>
        </tbody>
    </table>
</div>
{% endblock %}