{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>

        </thead>
        <tbody>
        <center>
        <img src="https://cdn-icons.flaticon.com/png/512/2749/premium/2749758.png?token=exp=1658902350~hmac=370625fec017e862a3e0aa185749e034"
                                            style="width:300px;height:300px;">
        </center>
        <br>
        <tr>
            <a onclick="location.href='list/reserve'">
               <button
                       style="background:url(https://cdn-icons-png.flaticon.com/512/2793/2793559.png);
                       background-position:center;background-size:75%;background-repeat:no-repeat;
                       width:250px;height:250px;font-size:30px;color:black;border-color:white;">진료 예약</button>

            </a>

            <a onclick="location.href='list/spine'">
               <button
                       style="background:url(https://cdn-icons-png.flaticon.com/512/2222/2222491.png);
                       background-position:center;background-size:75%;background-repeat:no-repeat;
                       width:250px;height:250px;font-size:30px;color:black;border-color:white;">척추 센터</button>

            </a>
            <a onclick="location.href='list/joint'">
               <button
                       style="background:url(https://cdn-icons-png.flaticon.com/512/3782/3782088.png);
                       background-position:center;background-size:75%;background-repeat:no-repeat;
                       width:250px;height:250px;font-size:30px;color:black;border-color:white;">관절 센터</button>

            </a>
            <a onclick="location.href='list/checkup'">
               <button
                       style="background:url(https://cdn-icons-png.flaticon.com/512/863/863636.png);
                       background-position:center;background-size:75%;background-repeat:no-repeat;
                       width:250px;height:250px;font-size:30px;color:black;border-color:white;">건강검진 센터</button>

            </a>
            <a onclick="location.href='list/hospital'">
               <button
                       style="background:url(https://cdn-icons-png.flaticon.com/512/4003/4003833.png);
                       background-position:center;background-size:75%;background-repeat:no-repeat;
                       width:250px;height:250px;font-size:30px;color:black;border-color:white;">병원 정보</button>

            </a>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}
